
#share_block_popup div.share-block-widget {
    margin-right: 8px!important;
    margin-bottom: 10px!important;
    min-width: 50px!important;
    max-width: 50px!important;
    padding: 5px!important;
    min-height: 64px!important;
    max-height: 60px!important;
    float:left!important;
}

#share_block_popup div.share-block-widget a{
font-family: helvetica, arial, sans-serif;
color: #1155ff !important;
font-weight: bold;
font-size: 14px;
text-decoration: none!important;
}

#share_block_popup div.share-block-widget a img {
    top: 2.5px;
margin-right: 5px;
position: relative;
margin-top: -2px;
}

#share_block_popup div#share-block-bar-widgets div.share-block-widget {
    max-width: 300px!important;
    min-width: 30px !important;
    max-height: 30px!important;
    min-height: 20px!important;
    width:auto!important; }

#share_block_popup div#share-block-bar-widgets,
#share_block_popup div#share-block-box-widgets {
    clear: both;
    width: 100%;
}


#share_block_popup div.share-block-widget iframe, 
#share_block_popup div.share-block-widget div.fb-like,
#share_block_popup div.share-block-widget a#share-block-tumblr,
#share_block_popup div.share-block-widget iframex#reddit-widget,
#share_block_popup div.share-block-widget span.IN-widget {
    display: block!important; }


div#share_block_popup {
    maxwidth: 400px!important;
    max-height: 250px!important;
    background: white!important;
    color: #444!important;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.3)!important;
    margin: 5px!important;
    z-index: 999999999999!important;
    opacity: 0.95;
    padding: 10px!important; }

#enable {
    display: none; }
.right {
    float: right; }
.left {
    float: left; }
.control {
    margin-top: 15px;
    color: #888;
    font-size: 14px;
    font-family: helvetica, arial, sans-serif;
    }
#flag {
    margin-left: 12px;
}
.control:hover {
    cursor:pointer;
    color: #666; }
.controls {
    width: 100%;
    height: 22px; 
    clear: both; }

iframe[title="Hacker News Button"] {
    width: 65px; }